.navbar {
  background-color: #29426b;
}

.navbar-light .navbar-brand {
  color: #f8a61c;
}
.navbar-light .navbar-brand:hover {
  color: lightgrey;
}
.navbar-light .navbar-nav .nav-link {
  color: lightgrey;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ff9900;
}
