@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './font.css';

body {
  margin: 0;
  font-family: 'Baloo 2';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
